@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap";

@media (max-width:1550px) {


	#player-main {
		flex-direction: column-reverse;
	}

	.player-container {
		padding: 10px 0 !important;
	}

	#image {
		max-width: 500px !important;
	}
}

@media(max-width:700px) {

	#main,
	#player-main {
		height: auto !important;
	}

	#main {
		justify-content: flex-start;
	}

	#song-list {
		min-width: 80% !important;
	}

	#image {
		min-width: 0px !important;
		width: 80% !important;
	}
}

@media(max-width:400px) {
	#song-list {
		min-width: 90% !important;
	}

	#image {
		min-width: 0px !important;
		width: 90% !important;
	}

}


#image {
	border-radius: 10px;
	box-shadow: 0 0 100px 0 var(--image-shadow);
	min-width: 500px;
	transition: transform 0.5s, scale 1s;
	user-select: none;
	width: 50%
}

#image:hover {
	scale: 1.03
}

#image[src=''] {
	display: none
}

#main {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center
}

#player-main {
	align-items: center;
	display: flex;
	height: 80%;
	justify-content: space-around
}

#search-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 60%;
	justify-content: flex-start;
	width: 80%
}

#search-input {
	background: none;
	border-style: none;
	color: var(--primary);
	font-size: 128px;
	font-weight: 700;
	outline: none;
	width: 100%
}

.search-result-item {
	padding: 0 10px;
	scroll-snap-align: start;
	cursor: pointer;
	transition: color 0.1s, padding 0.1s, letter-spacing 0.1s;
}

.search-result-item-active,
.search-result-item:hover {
	color: var(--primary);
	padding: 0 20px;
	font-weight: bold;
	letter-spacing: 5px;
}

.search-result-item-active .search-result-song-name,
.search-result-item:hover .search-result-song-name {
	color: var(--primary) !important;
}


.search-result-song-name {
	color: var(--secondary);
}

.search-result {
	overflow: hidden;
	white-space: nowrap;
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-result-song-name {
	overflow: hidden;
}

.search-result-song-artist {
	font-size: 50px;
	overflow: hidden;
	max-width: 40%;
}

#search-main {
	align-items: center;
	backdrop-filter: blur(10px);
	background: var(--background-opaque);
	display: flex;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transition: opacity .1s;
	width: 100%;
	z-index: 1;
	justify-content: center
}

#search-results {
	scroll-snap-type: y mandatory;
	color: var(--image-shadow);
	font-size: 64px;
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	width: 100%
}

#seekbar {
	align-items: flex-end;
	bottom: 0;
	display: flex;
	flex-direction: row;
	min-height: 79px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 2
}

#seekbar-current-song-duration-text,
.song-artist {
	color: var(--secondary)
}

#seekbar-current-time {
	display: flex;
	opacity: 0;
	transition: opacity .1s linear
}

#seekbar-knob {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	transform: translateX(-50%);
	transition: opacity .1s linear;
	width: 0;
	z-index: 1
}

#seekbar-knob-circle {
	background-color: var(--highlight);
	border-radius: 50%;
	bottom: 50%;
	box-shadow: 0 0 40px 0 var(--highlight-darker);
	height: 5px;
	transition: all .1s linear;
	width: 5px
}

#seekbar-progress {
	background-color: var(--highlight);
	box-shadow: 0 0 30px 0 var(--highlight-darker);
	height: 5px;
	transition: height .2s
}

#seekbar-time-separator {
	color: var(--secondary);
	padding: 0 5px
}

#song-list {
	height: 100%;
	margin: 0;
	max-width: 70%;
	min-width: 700px;
	overflow: auto;
	padding: 0;
	scroll-snap-type: y mandatory;
}

#popup {
	align-items: center;
	background-color: var(--background-opaque);
	display: none;
	border-radius: 10px;
	display: flex !important;
	font-size: 128px;
	justify-content: center;
	left: 50%;
	width: min-content;
	opacity: 0;
	padding: 10px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .05s linear;
	z-index: 3
}

#popup-text {
	text-align: center;
	background: none;
	font-weight: 700
}

.current-time-active {
	opacity: 1 !important
}

.knob-circle-active {
	height: 50px !important;
	transform: translateY(40%);
	width: 50px !important
}

.knob-hover {
	opacity: 100% !important
}

.marker {
	background: var(--highlight-yellow);
	box-shadow: 0 0 10px 0 var(--highlight-yellow);
	height: 5px;
	position: absolute;
	transition: height .2s;
	width: 3px;
	z-index: 3
}

.player-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 30px 0;
	width: 100%
}

.search-active {
	opacity: 1 !important;
	pointer-events: initial !important
}

.seekbar-hover {
	height: 15px !important
}

.song-body {
	display: flex;
	flex-direction: column;
	height: 50px;
	justify-content: space-around;
	padding: 0 10px;
	pointer-events: none
}

.song-image {
	max-height: 35px;
	padding: 10px;
	pointer-events: none
}

.song-item {
	align-items: center;
	border-bottom: 1px solid var(--ternary);
	display: flex;
	padding: 5px;
	scroll-snap-align: center;
	transition: all .2s
}

.song-item-active {
	background-color: var(--ternary)
}

.popup-active {
	font-size: 120px !important;
	opacity: 1 !important
}

::-webkit-scrollbar {
	border-radius: 10px;
	display: none;
	width: 10px
}

::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 10px
}

::-webkit-scrollbar-track {
	background: var(--ternary)
}

::selection {
	background-color: var(--highlight)
}

:hover::-webkit-scrollbar {
	display: initial
}

:root {
	--background: #000;
	--background-opaque: #000000e2;
	--highlight: #FF003D;
	--highlight-darker: #ff003ca0;
	--highlight-yellow: #fbff00;
	--image-shadow: #ffffff17;
	--primary: #fff;
	--secondary: #b8b8b8;
	--ternary: #0c0c0c
}

body {
	background: var(--background);
	color: var(--primary);
	display: flex;
	flex-direction: column;
	font-family: Inter;
	font-size: 18px;
	height: 100%;
	margin: 0
}

hr {
	border: 2px solid var(--image-shadow);
	width: 100%
}

html {
	height: 100%
}