on:
  push:
    paths:
      - static/*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: static
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}